mixin footer
	.footer
		.l-wrap
			.footer-in
				.footerCopy
					span Copyright © 2015 Lychee.com All&nbsp;rights&nbsp;reserved.
					ul
						li: a(href="terms.html") Terms of Service
						li: a(href="privacy.html") Privacy policy
				
				.footerMicrosoft 
					.footerMicrosoft-in Powered by
				
				.footerSocial
					ul
						li.footerSocial-twitter: a(href="https://twitter.com/lycheetm" target="_blank")
						li.footerSocial-instagram: a(href="https://www.instagram.com/lycheetm/" target="_blank")
						li.footerSocial-facebook: a(href="http://www.facebook.com/lycheeapp" target="_blank")