reset-all()
borderbox-all()
@-ms-viewport
	width device-width

html
	height 100%

.ilkome
	position relative
	height 100%
	min-width 320px

.l-body
	background url("../img/main-bg.png") repeat
	
.l-wrap
	max-width 1100px
	margin 0 auto
	padding 0 5px
	clearfix()
	
	@media sm
		padding 0 20px
	
	
.l-content
	position relative