a
	display inline-block
	color #efc514
	tdn()

	&:hover
		tdu()

.btn
	font-size 14px
	padding 10px 25px
	border 1px solid #efc514
	border-radius 5px
	anim()
	
	&:hover
		tdn()
		color #d0ad1b
		border-color #d0ad1b