mixin popup
	.popup.js-popup
		a(href="#").popup-close.js-popup-close +
		.popup-name New update available for Lychee 
		.popup-text Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue.
		.popup-readmore: a(href="#") Read more